/.gradle/

/build/
/core/build/
/docs/build
/examples/build/
/publish/build

/core/bin/
/docs/bin/
/examples/bin/

/.settings/
/.project
/core/.classpath
/core/.project
/core/.settings/
/docs/.classpath
/docs/.project
/docs/.settings/
/examples/.classpath
/examples/.project
/examples/.settings/
/publish/.project
/publish/.settings/

/debian/
